body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("/assets/image/bg-img.jpg") no-repeat center center/cover;
  font-family: Arial, sans-serif;
}

.calculator {
  width: 380px;
  background: rgba(255, 255, 255, 0.2);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background-color: rgb(85, 85, 85);
  /* opacity: 80%; */
}

.display-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.display {
  flex-grow: 1;
  margin-left: 10px;
  width: 2000%;
  height: 30px;
  text-align: right;
  padding: 10px;
  font-size: 1.5em;
  border: none;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: white;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  margin-top: 10px;
}

button {
  width: 90px;
  height: 50px;
  padding: 15px;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.5);
}

button:active {
  background: rgba(255, 255, 255, 0.8);
}

.clear {
  background: rgb(253, 110, 58);
  color: white;
  border-bottom: 3px solid rgb(253, 78, 35);
}

.clear:hover {
  transform: translateY(3px);
  border-bottom: 3px solid rgb(255, 51, 0);
}

.equal {
  background: rgb(58, 213, 169);
  border-bottom: 3px solid rgb(140, 212, 68);
}

.equal:hover {
  background-color: rgb(255, 255, 81);
  color: white;
  transform: translateY(2px);
  border-bottom: 3px solid rgb(191, 194, 1);
}

.functions {
  background-color: rgb(255, 194, 172);
  border-bottom: 3px solid rgb(70, 70, 70);
}

.functions:hover {
  background-color: rgb(127, 98, 255);
  color: white;
  transform: translateY(2px);
  border-bottom: 3px solid rgb(82, 43, 255);
}

.numbers {
  background-color: rgb(220, 220, 221);
  border-bottom: 3px solid rgb(70, 70, 70);
}

.numbers:hover {
  background-color: rgb(127, 98, 255);
  color: white;
  transform: translateY(2px);
  border-bottom: 3px solid rgb(82, 43, 255);
}

.dot {
  background-color: rgb(220, 220, 221);
}

.dot:hover {
  background-color: rgb(175, 96, 240);
  color: white;
  transform: translateY(2px);
}
